---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';

// Información de depuración
const hostname = Astro.url.hostname;
console.log('INDEX.ASTRO - Hostname:', hostname);
---

<Layout title="Ian Redzio | Desarrollador Web">
	<main>
		<Nav />
		<Hero />
	</main>
</Layout>
