---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import AboutMe from '../components/AboutMe.astro';
import TechStack from '../components/TechStack.astro';
import UnderConstruction from '../components/UnderConstruction.astro';

const hostname = Astro.url.hostname;
const isProduction = hostname.includes('vercel.app');
console.log('INDEX.ASTRO - Hostname:', hostname);
console.log('INDEX.ASTRO - ¿Es producción?', isProduction);
---

{isProduction ? (
	<UnderConstruction />
) : (
	<Layout title="Ian Redzio | Desarrollador Web">
		<Nav />
		<main id="main-container" class="fullpage-container">
			<div id="inicio" class="fullpage-section">
				<Hero />
			</div>
			<div id="experiencia" class="fullpage-section">
				<Experience />
			</div>
			<div id="sobre-mi" class="fullpage-section">
				<AboutMe />
			</div>
			<div id="tecnologias" class="fullpage-section">
				<TechStack />
			</div>
		</main>
	</Layout>
)}

<script>
	import { initFullpageNavigation } from '../utils/fullpage-navigation';
	
	initFullpageNavigation();
</script>

<style>
	.fullpage-container {
		position: relative;
	}
</style>
